<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo center">Logo</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="">Search</a></li>
            <li class="signOutDashboard"><a href="/logout">Sign Out</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="">Search</a></li>
    <li class="signOutDashboard"><a href="/logout">Sign Out</a></li>
</ul>

<div class="container">
    <div class="section">
        <div class="row">

            <!-- Modal Trigger -->
            <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>



            <div class="col s12 m12">
                <!-- The dashboard card. TODO: Add handlebars functionality for #each post (once that information is established) -->
                <div class="card">
                    {{!-- <div class="card-image">
                        <img src="https://placeimg.com/640/480/any">
                        <span class="card-title">Card Title</span>
                    </div> --}}
                    <div class="card-content">
                        <p>Welcome, {{firstName}} {{lastName}}!</p>
                    </div>
                    <div class="card-action">
                        <a href="/dashboard/newpost">Create a new post</a>
                    </div>
                    <div class="card-action">
                        <a href="#">View all your posts</a>
                    </div>
                    <div class="card-action">
                        <a href="#">Edit Profile</a>
                    </div>
                </div>
            </div>

            <section id="blog-posts" class="col s12 m12">

            </section>


        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/assets/js/dashboard.js"></script>