<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo center">Logo</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li class="new-post"><a href="/dashboard/newPost">New Post</a></li>
            <li><a href="">Search</a></li>
            <li class="signOutDashboard"><a href="/logout">Sign Out</a></li>

        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li class="new-post"><a href="/dashboard/newPost">New Post</a></li>
    <li><a href="">Search</a></li>
    <li class="signOutDashboard"><a href="/logout">Sign Out</a></li>
</ul>

<div class="container">
    <div class="section">
        <div class="row">

            {{!-- dummy  --}}
            {{!-- <div class="row" id="blog-post-${blogPost.id}">
                <div class="card blue-grey darken-1 col m10">
                    <div class="card-content white-text">
                        <span class="card-title">${blogPost.title}</span>
                        <p>${blogPost.body}</p>
                    </div>
                </div>
                <div class="col m2" style="padding-top: 3rem">
                    <!-- Modal Trigger -->
                    <a class="edit-post-button waves-effect waves-light btn modal-trigger"
                        data-blogPostId=${blogPost.id} href="#modal1">Modal</a>
                </div>
            </div> --}}

            <div class="row" id="blog-post-${blogPost.id}">
                <div class="card blue-grey darken-1 col m10">
                    <div class="card-content white-text">
                        <span class="card-title">${blogPost.title}</span>
                        <p>${blogPost.body}</p>
                    </div>
                </div>
                <div class="col m2" style="padding-top: 3rem; padding-left: 1rem">

                    <button class="edit-post-button waves-effect waves-light btn" data-blogPostId=${blogPost.id}>Edit
                        Post</button>
                </div>
            </div>


            {{!-- end dummy --}}


            <div style="margin-bottom:3rem" class="col s12 m12">
                <!-- The dashboard card. TODO: Add handlebars functionality for #each post (once that information is established) -->
                <div class="card">
                    {{!-- <div class="card-image">
                        <img src="https://placeimg.com/640/480/any">
                        <span class="card-title">Card Title</span>
                    </div> --}}
                    <div class="card-content">
                        <h3>Welcome, {{firstName}} {{lastName}}!</h3>
                    </div>
                    <div class="card-action">
                        <a href="/dashboard/newpost">Create a new post</a>
                    </div>
                    <div class="card-action">
                        <a href="#blog-posts">View all your posts</a>
                    </div>
                    <div class="card-action">
                        <a href="/dashboard/updateProfile">Edit Profile</a>
                    </div>
                </div>
            </div>



            <h4>Your Blog Posts:</h4>
            {{!-- The place where blog posts live --}}
            <section id="blog-posts" class="col s12 m12">
            </section>


        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/assets/js/dashboard.js"></script>