<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo center">Logo</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i
                class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li class="new-post"><a href="/dashboard/newPost">New Post</a></li>
            <li><a href="/findFriends">Find Friends</a></li>
            <li class="signOutDashboard"><a href="/logout">Sign Out</a></li>

        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li class="new-post"><a href="/dashboard/newPost">New Post</a></li>
    <li><a href="/findFriends">Find Friends</a></li>
    <li class="signOutDashboard"><a href="/logout">Sign Out</a></li>
</ul>

<script src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
<!-- Compiled and minified JavaScript -->
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/assets/js/findFriends.js"></script>