<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo center">Create A New Post</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i
                class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/dashboard">Profile</a></li>
            <li class="signOutDashboard"><a href="/logout">Sign Out</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="/dashboard">Profile</a></li>
    <li class="signOutDashboard"><a href="/logout">Sign Out</a></li>
</ul>


<div class="container">
    <div class="row">
        <form class="col s12 newPostForm">
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">mode_edit</i>
                    <textarea id="icon_prefix2" class="materialize-textarea titleInput"></textarea>
                    <label for="icon_prefix2">Title</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <textarea id="textarea1" class="materialize-textarea bodyInput"></textarea>
                    <label for="textarea1">Content</label>
                </div>
            </div>
            <button class="btn waves-effect waves-light newPostButton" type="submit"
                name="action">Submit
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js">
</script>
<script src="/assets/js/newPost.js"></script>